h1 {
  @apply pb-2 text-4xl font-medium duration-300 transition-colors;
  @screen md {
    @apply text-5xl;
  }
}

h2 {
  @apply pt-1 text-xl font-medium duration-300 transition-colors;
  @screen md {
    @apply text-2xl;
  }
}

h3 {
  @apply text-xl font-medium;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}