h1 {
  @apply text-4xl font-semibold;
}

h2 {
  @apply text-3xl font-semibold;
}

h3 {
  @apply text-xl font-medium;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}